@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
@import "./color-blue.css";
@import "./color-green.css";
@import "./color-pink.css";
@import "./color-teal.css";
@import "./fonts.css";
@import "./text.css";

@tailwind components;
@tailwind utilities;
