.rt-Text ul {
  @apply list-disc pl-10;
}

.list-inside ul {
  list-style-position: inside;
}

.donate-icon--upper {
  transform: translate(-35%, -35%);
}

@media screen and (max-width: 768px) {
  .donate-icon--upper {
    transform: translate(-18%, -35%);
  }
}

.prose > p {
  @apply pb-3;
}

.prose > p > a {
  @apply underline;
}
